* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
    background-size: cover;
}

#map {
    width: 100%;
    height: 350px;
    border: 0;
    /* height="450" style="border:0;" */
}

img {
    width: 25%;
}

a[href^="mailto:"] {
    font-family: sans-serif;
    color: black !important;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Reglas Auxiliares*/

.padding-0 {
    padding: 0;
    margin-bottom: -3px;
}

.padding-lat {
    padding-left: 8%;
    padding-right: 8%;
}

.padding-tb {
    padding: 50px 8%;
}

.padding-all {
    padding: 3%;
}

.padding-left {
    padding-left: 75px;
}

.padding-right {
    padding-right: 20px;
}


/* columnas */

.column1 {
    width: 100%;
    text-align: left;
    padding: 4% 7% 0% 7%;
}

.column2 {
    width: 50%;
    float: left;
    padding: 7%;
}

.column2 h1 {
    font-size: 3vw;
}

.column2 h2 {
    font-size: 3vw;
}

.column2 h3 {
    font-size: 1.8vw;
}

.column2 img {
    border-radius: 10px;
    width: 100%;
}

.column3 {
    width: 33.33%;
    padding: 7%;
}

.column4 {
    width: 25%;
    padding: 4% 7%;
    float: left;
}


/* menu */

html {
    scroll-behavior: smooth;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

#nav li {
    float: right;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav li a:hover {
    color: black;
}


/* header */

#header {
    background-size: cover;
    background-attachment: fixed;
    padding: 150px;
    text-align: center;
    /* height: 75vh; */
}

#header h2 {
    font-size: 2vw;
}

#header h1 {
    color: darkcyan;
    font-size: 4.5vw;
}


/*  section-1  */

#section-1 {
    background-color: #f5eef5;
    /*     text-align: left; */
}

#section-1 h1 {
    color: gray;
    /*     text-align: center; */
}


/*  section-2  */

#section-2 {
    background-color: #faf5f3;
}

#section-2 h1 {
    text-align: center;
    color: gray;
}


/*  section-3  */

#section-3 {
    background-color: #f2f9f8;
}

#section-3 h1 {
    /*     font-size: 4vw; */
    color: gray;
}


/*  section-4  */

#footer {
    background-color: #000000;
    color: white;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:700px) {
    .flex:not(#header) {
        display: block;
        font-size: 3.7vw;
    }
    .column2 {
        width: 100%;
    }
    .column3 {
        width: 100%;
    }
    .column4 {
        width: 50%;
    }
    img {
        width: 75%;
        padding-left: 25%;
    }
    .header h1 {
        font-size: 40px;
    }
    .column2 h3 {
        font-size: 3.2vw;
    }
    .column4 h3 {
        font-size: 3.7vw;
    }
    .column4 p {
        font-size: 2.2vw;
    }
    .header h2 {
        font-size: 18px;
    }
    .column2 img {
        width: 100%;
    }
}